* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(224, 229, 231);
}

/* header */

header {
    background-color: white;
    height: 70px;
}

.logo-image {
    vertical-align: middle;
    padding: 10px 10px 0px;
}

.logo-text {
    font-size: 40px;
    vertical-align: middle;
}

/* mai e section */

/* first section */

.first-main {
    margin-top: 35px;
}

.first {
    width: 75%;
    height: 50px;
    background-color: white;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
    padding: 18px;
    padding-left: 45px;
}

.bottom1 {
    background-color: dodgerblue;
    border-radius: 5px;
}

.bottom2 {
    border: black solid 0.5px;
    border-radius: 5px;
}

/* second section */

.second-main {
    margin-top: 5px;
    width: 75%;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    padding: 18px;
    padding-left: 45px;
}

.Check-box {
    color: green;
    border: solid 1px green;
    border-radius: 50%;
}

.editional {
    width: 20px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
}



