* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(224, 229, 231);
}

/* header */

header {
    background-color: white;
    height: 70px;
}

.logo-image {
    vertical-align: middle;
    padding: 10px 10px 0px;
}

.logo-text {
    font-size: 40px;
    vertical-align: middle;
}

/* mai e section */

/* first section */

.first-main {
    margin-top: 35px;
}

.first {
    width: 75%;
    height: 50px;
    background-color: white;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
    padding: 18px;
    padding-left: 45px;
}

.bottom1 {
    background-color: dodgerblue;
    color: white;
    padding: 6px ;
    border-radius: 5px;
    font-size: 12px;
}

.bottom2 {
    padding: 5px;
    border: rgb(196, 196, 196) solid 0.5px;
    color: rgb(196, 196, 196);
    border-radius: 5px;
    font-size: 12px;
}

/* second section */

.second-main {
    margin: auto;
    margin-top: 5px;
    width: 75%;
    height: 700px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 18px;
    padding-left: 45px;
}

.check-box {
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}

.delete-box {
    color: red;
    border: solid 1px red;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.editional {
    font-size: 12px;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.Q1 {
    font-size: 12px;
    background-color: rgb(149, 108, 226);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.recruiting {
    font-size: 12px;
    background-color: rgb(60, 131, 87);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.mobile {
    font-size: 12px;
    background-color: rgb(233, 124, 61);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

div {
    padding-top: 10px;
}

.stacco {
    padding-top: 40px;
}

.stacco2 {
    padding-top: 0px;
}




